@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --accent-color: #e3b873;
  --text-color: #ffffff;
  --title-font: Yeseva One, Regular;
}

.body {
  font-family: Nunito Sans, Regular, serif;
  margin: 0;
  padding: 0;
}

.slider {
  width: 1440px;
  height: 783px;
  background-color: #131313;
}

.slider__container {
  width: 1171px;
  height: 553px;
  padding: 107px 135px 124px 135px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

.slider__container-article {
  width: 442px;
  height: 390px;
  padding: 69px 50px 20px 20px;
}

.slider__container-article_container {
  display: flex;
  flex-flow: row;
  gap: 4px;
}

.slider__container-article_title {
  width: 175px;
  height: 66px;
  font-size: 27px;
}

.slider__container-article_line {
  width: 92px;
  height: 1px;
  background-color: var(--accent-color);
  display: flex;
  margin-top: 45px;
}

.slider__container-article_text {
  width: 442px;
  height: 86px;
  font-size: 14px;
  line-height: 191%;
  color: var(--text-color);
  text-align: left;
  margin: 34px 0 42px 0;
}

.slider__container-article_chars-container {
  width: 442px;
  height: 162px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.slider__container-article-chars_container-item {
  width: 156px;
  height: 73px;
  margin: 0 45px 50px 0;
}

.slider__container-article-chars_container-item h1 {
  width: 180px;
  font-size: 18px;
}

.slider__container-article-chars_container-text {
  color: var(--text-color);
  font-size: 13px;
  text-align: left;
  line-height: 163%;
  margin: 9px 0 0 0;
}

.slider__container_photo-container {
  width: 679px;
  height: 551px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.slider__container_slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slider__container_slides_item {
  min-width: 100%;
  box-sizing: border-box;
}

.slider__container_nav-controls {
  margin: 90px 0 0 10px;
  display: flex;
  justify-content: center;
  width: 205px;
  height: 14px;
  align-items: center;
}

.slider__container_nav-controls button {
  margin: 0 17px 0 0;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
}

.slider__container_nav-controls button:last-child {
  margin-right: 0;
}

.slider__container_nav-controls_arrow{
  background-color: transparent;
}

#prev {
  display: flex;
  align-items: center;
  height: 14px;
  margin: 0 29px 0 0;
}

#next{
  margin: 0 0 0 29px;
}

.arrow-rotate {
  transform: rotate(180deg);
}

.slider__container_nav-controls_dots {
  display: flex;
  flex-flow: row;
}

.slider__container_nav-controls_dots_item {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: var(--text-color);
  opacity: 30%;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.slider__container_nav-controls_dots_item.active {
  background-color: var(--text-color);
  opacity: 100%;
}

.slider__container_photo-container_descriptions {
  display: flex;
  flex-flow: row;
  gap: 61px;
  justify-content: left;
  margin-bottom: 53px;
  font-size: 14px;
}

.slider__container_photo-container_description {
  margin: 0 5px;
  color: var(--text-color);
  opacity: 30%;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: var(--title-font), serif;
}

.slider__container_photo-container_description.active {
  color: var(--accent-color);
  opacity: 100%;
}

.slider__container_photo-container_description.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.slider__container-article_title,
.slider__container-article-chars_container-item h1 {
  font-family: var(--title-font), serif;
  color: #e3b873;
  margin: 0;
}
